/**
 * Blocks
 */

/**
 * Base
 */
.block                 { background: #fcfcfc; margin-bottom: 30px; }
.block:last-child      { margin-bottom: 0; }

.block .text           { font-size: 13px; line-height: 18px; }
.block .max-height-200 { overflow: auto; max-height: 200px; position: relative; }

{*  не работает, используется общий .loading
  .block .loading        { min-height: 100px; background-image: url(../images/loader.gif); background-position: 50% 45px; }
*}

.block .search-form    { padding: 0; margin-bottom: 20px; }

/* Header */
.block-header              { padding: 13px 15px; border-top: 1px solid #eee; position: relative; }
.block-header .block-title { font-size: 16px; line-height: 1em; font-weight: normal; }

/* Nav */
.block-nav      { padding: 15px; border-bottom: 1px solid #eee; }
.block-nav .nav,
.block-nav .dropdown { margin-bottom: 0; }

/* Content */
.block-content { padding: 15px; }

/* Footer */
.block-footer { border-top: 1px solid #eee; padding: 15px 20px; font-size: 12px; }


/**
 * @type nav
 * @file blocks/block.menu.tpl
 */
.block-type-nav .block-content { 
	padding: 0;
	background: rgba(252,252,252,1);
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(246,246,246,1) 82%, rgba(245,245,245,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(82%, rgba(246,246,246,1)), color-stop(100%, rgba(245,245,245,1)));
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(246,246,246,1) 82%, rgba(245,245,245,1) 100%);
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(246,246,246,1) 82%, rgba(245,245,245,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(246,246,246,1) 82%, rgba(245,245,245,1) 100%);
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(246,246,246,1) 82%, rgba(245,245,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5', GradientType=0 );
 }


 /**
  * Block Home
  */
 .block-home { border: 1px solid #f2f2f2; }

 .block-home .block-header { border: none; background: #f9f9f9; padding: 13px 13px; }
 .block-home .dropdown-circle { position: absolute; top: 11px; right: 11px; }
 .block-home .block-title { font-size: 18px; }

 .block-home .block-content { background: #fff; }

 .block-home .block-footer { padding: 0 10px 10px; background: #fff; border: none; }

 /**
  * Home Stats
  *
  * @file blocks/block.home.stats.tpl
  */
 .block-type-home-stats .block-header { overflow: hidden; }
 .block-type-home-stats .block-header select { position: absolute; top: 7px; right: 7px; }