/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */

/* dashboard */

.ls-admin .dashboard {}

.ls-admin .dashboard h3 {
	font-size: 22px;
}

.ls-admin .dashboard .top-base-stat-line {
	background: #f9f9f9;
	clear: both;
	margin: -15px -15px 20px;
	overflow: hidden;
	padding: 15px;
	font-size: 17px;
}

.ls-admin .dashboard .top-base-stat-line > * {
	float: left;
	margin-right: 60px;
}

.ls-admin .dashboard .graph {
	margin-bottom: 20px;
}

.ls-admin .dashboard .graph .graph_wrapper {}

.ls-admin .dashboard .middle-stat-line {
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
}

.ls-admin .dashboard .middle-stat-line > * {
	float: left;
	overflow: hidden;
	width: 33%;
}

.ls-admin .dashboard .top-base-stat-line > * div {
	font-size: 23px;
	text-align: center;
}

.ls-admin .dashboard .footer-stat-info {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

.ls-admin .dashboard .footer-stat-info .w50p {
	float: left;
	overflow: hidden;
	width: 49%;
	border: 1px solid #F1f1f1;
}

.ls-admin .dashboard .footer-stat-info .w50p .label-header {
	background: #f9f9f9;
	padding: 10px;
}

.ls-admin .dashboard .footer-stat-info .w50p .label-header h3 {
	font-size: 18px;
	display: inline-block;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data {
	padding: 10px;
}

/* activity */

#activity-event-list {
	clear: both;
	overflow: hidden;
}

#activity-get-more {
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	background: none repeat scroll 0 0 #f9f9f9;
	background: -moz-linear-gradient(top,  #fefefe 0%, #f4f4f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f4f4f4));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f4f4f4 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#f4f4f4 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #fefefe 0%,#f4f4f4 100%);
}

#activity-get-more:hover {
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #fefefe 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #fefefe 0%,#f0f0f0 100%);
}

#activity-get-more:active {
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #fefefe 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(99%,#fefefe));
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#fefefe 99%);
	background: -o-linear-gradient(top,  #f0f0f0 0%,#fefefe 99%);
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#fefefe 99%);
	background: linear-gradient(to bottom,  #f0f0f0 0%,#fefefe 99%);
	box-shadow: 0 1px 3px rgba(20, 20, 20, 0.15) inset;
}

#activity-event-list .activity-date {
	color: #999;
	float: right;
	font-size: 11px;
}

#activity-event-list .activity-event {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#activity-event-list .activity-event > a img.activity-event-avatar {
	display: block;
	float: left;
	margin-right: 10px;
	height: auto;
	width: 24px;
}

#activity-event-list .activity-event img {
	display: inline-block;
	height: auto;
	width: 24px;
	vertical-align: middle;
}

#activity-event-list .activity-event .activity-event-info {
	overflow: hidden;
}

#activity-event-list .activity-event .activity-event-info time {
	color: #bbb;
	font-size: 11px;
}

.ls-admin .dashboard .green {
	color: #008000;
}

.ls-admin .dashboard .red {
	color: #D30000;
}

/* items added */

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added {
	border: medium none;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .growth {
	font-size: 14px;
}

.ls-admin .dashboard .footer-stat-info .w50p .label-header form {
	display: inline-block;
	vertical-align: top;
}

/* voting line */

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .name {
	width: 160px;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .growth {}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .voting-line {
	width: 160px;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .voting-line .votes-graph {
	background: none repeat scroll 0 0 #BEDDDC;
	height: 3px;
	clear: both;
	overflow: hidden;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .voting-line .votes-graph > * {
	height: 100%;
	float: left;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .voting-line .votes-graph .plus {
	background: #17A553;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .voting-line .votes-graph .minus {
	background: #ff1313;
}

.ls-admin .dashboard .footer-stat-info .w50p .content-data .items-added .voting-line .votes-graph .abstained {
	background: #c9c9c9;
}
