/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */

/* items added */
/* voting line */

#admin_index_new_items_block .name {
	width: 140px;
	vertical-align: middle;
}

#admin_index_new_items_block .growth {
	vertical-align: middle;
}

#admin_index_new_items_block .graph-line {
	width: 150px;
}

#admin_index_new_items_block .graph-line .ratings-graph {
	height: 3px;
	clear: both;
}

#admin_index_new_items_block .graph-line .ratings-graph > * {
	height: 100%;
	float: left;
	position: relative;
}

#admin_index_new_items_block .graph-line .ratings-graph .positive {
	background: #17A553;
	color: #17A553;
}

#admin_index_new_items_block .graph-line .ratings-graph .negative {
	background: #ff1313;
	color: #FF1313;
}

#admin_index_new_items_block .graph-line .ratings-graph .neutral {
	background: #c9c9c9;
	color: #C9C9C9;
}

#admin_index_new_items_block .graph-line .ratings-graph .inner-value {
	font-size: 10px;
	position: absolute;
	top: -16px;
}

#admin_index_new_items_block .graph-line .ratings-graph *:nth-child(1) .inner-value {
	left: 0;
}

#admin_index_new_items_block .graph-line .ratings-graph *:nth-child(2) .inner-value {
	left: 43%;
}

#admin_index_new_items_block .graph-line .ratings-graph *:nth-child(3) .inner-value {
	right: 0;
}

/* stats line table */

table.stats-line-table {
	margin: 0;
}

table.stats-line-table td {
	padding: 0 !important;
}

table.stats-line-table .info-tip {
	width: 25px;
}

table.stats-line-table .line-block {
	vertical-align: middle;
}
