/**
 * Сетка
 *
 * @template layout.base.tpl
 */

#container {
    margin: 0 auto 20px;
    max-width: 1100px;
    min-width: 976px;
    padding: 0 50px;
}
#header          { padding: 20px 0 20px 16px; position: relative; }
#nav             { margin-bottom: 15px; overflow: hidden; }
#wrapper         { margin-bottom: 70px; }
#content-wrapper { float: left; width: 100%; margin-right: -205px; }
#content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-right: 205px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
}
#sidebar         { float: right; width: 200px; position: relative; z-index: 1; }
#footer          { overflow: hidden; zoom: 1; margin-bottom: 20px; padding: 0 0 50px 16px; font-size: 11px; font-family: Verdana; }

#container.no-sidebar #content { width: 100%; margin-right: 0; }

.content-padding {
    overflow: hidden;
    padding: 15px;
}
