/**
 * Иконки
 */

.icon-nav-main-home { width: 19px; height: 19px; background: url(../images/icons/nav-main-home.png) no-repeat; }
.icon-rating { width: 22px; height: 21px; background-image: url(../images/icons/user-rating.png); }

.icon-contact				{ width: 16px; height: 16px; background: url(../images/icons/icons-contact.png) no-repeat; }
.icon-contact-default		{ background-position: 0 0; }
.icon-contact-mail			{ background-position: -20px 0; }
.icon-contact-icq			{ background-position: -40px 0; }
.icon-contact-jabber		{ background-position: -60px 0; }
.icon-contact-phone			{ background-position: -80px 0; }
.icon-contact-skype			{ background-position: -100px 0; }
.icon-contact-vkontakte		{ background-position: -120px 0; }
.icon-contact-twitter		{ background-position: -140px 0; }
.icon-contact-facebook		{ background-position: -160px 0; }
.icon-contact-odnoklassniki	{ background-position: -180px 0; }
.icon-contact-www			{ background-position: -200px 0; }

.icon-user-admin               { width: 15px; height: 15px; background-image: url(../images/icons/user-admin.png); }

.icon-sort-asc { width: 5px; height: 9px; background-image: url(../images/icons/sort-asc.png); }
.icon-sort-desc { width: 5px; height: 9px; background-image: url(../images/icons/sort-desc.png); }

.icon-stats-up { width: 8px; height: 7px; background-image: url(../images/icons/stats-up.png); }
.icon-stats-down { width: 8px; height: 7px; background-image: url(../images/icons/stats-down.png); }

.icon-settings-14 { width: 14px; height: 14px; background-image: url(../images/icons/settings-14.png); }