/**
 * Пагинация 
 *
 * @template pagination.tpl
 */

.pagination ul 					{ overflow: hidden; zoom: 1; line-height: 1em; }
.pagination ul li 				{ float: left; margin-right: 5px; }
.pagination ul li span,
.pagination ul li span, .pagination ul li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid transparent;
    color: #333333;
    float: left;
    padding: 7px 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.pagination ul li a:hover 		{ background: #ddd; }
.pagination ul li.active span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #479FFA;
    color: #555555;
}
.pagination ul li i 			{ opacity: .5; filter: alpha(opacity=50); }