/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */

/* parameters list */

.js-settings-field {
	border-color: transparent transparent #EEEEEE;
	border-style: solid;
	border-width: 1px;
}

/* special array list */

.js-settings-field .js-array-values {
	background: none repeat scroll 0 0 #FAFAFA;
	border-radius: 2px;
	clear: both;
	margin: 5px 0;
	overflow: hidden;
	padding: 5px;
}

.js-settings-field .js-array-values .js-array-item-value {
	float: left;
}

.js-settings-field .js-array-values .js-array-item-value input {
	float: left;
}

.js-settings-field .js-array-values .js-remove-previous {
	border-radius: 0 5px 5px 0;
	margin-left: -1px;
	margin-right: 15px;
}

.js-settings-field .js-array-values .js-remove-previous:hover {
	background: none repeat scroll 0 0 #C45050;
	border-color: #C45050;
	color: #FFFFFF;
	text-shadow: none;
}

.js-settings-field .js-array-values .js-remove-previous:active {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
}

.js-settings-field .js-array-add-value,
.js-settings-field .js-remove-previous {
	font: 18px/26px Arial;
}

/* show errors for parameters */

.js-settings-field.admin-save-error-border {
	background: none repeat scroll 0 0 #FFFCFD;
	border: 1px solid #BB0000;
	border-radius: 2px 2px 2px 2px;
}

.js-settings-field.admin-save-error-border .admin-save-error-wrapper {
	background: none repeat scroll 0 0 #FFF8F8;
	color: #990000;
	margin-top: 5px;
	padding: 5px;
	text-shadow: 0 1px 0 #FFFFFF;
}
