/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */


/**
 * Plugin list
 */
.table-plugins .button { margin-bottom: 7px; }
.plugin-list-item.active td { background: #D8F1FF; }
.plugin-list-item-title { font-size: 23px; font-weight: 300; line-height: 1.2em; margin-bottom: 7px; }


/* instructions page */

.ls-admin .plugin-instructions {
	border-left: 3px solid #DDD;
	padding-left: 20px;
}
