/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */

/* base table settings */

.ls-admin table {
	border: 1px solid #EEEEEE;
	margin-bottom: 20px;
	width: 100%;
}

.ls-admin table thead {
	background: none repeat scroll 0 0 #FAFAFA;
}

.ls-admin table thead th,
.ls-admin table tbody td {
	padding: 5px;
}

.ls-admin table tbody tr.second {
	background: none repeat scroll 0 0 #FCFCFC;
}

/* sorting table */

.ls-admin table.table-sorting thead {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid #EEEEEE;
}

.ls-admin table.table-sorting thead th {
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}

.ls-admin table.table-sorting thead th a {
	border-bottom: 1px dotted;
}

.ls-admin table.table-sorting {
	border: medium none;
}

.ls-admin table.table-sorting tbody tr.second {
	background: none repeat scroll 0 0 transparent;
}

.ls-admin table.table-sorting tbody tr {
	border-bottom: 1px solid #EEEEEE;
}

.ls-admin table.table-sorting tbody tr:hover {
	background: none repeat scroll 0 0 #FFF9E2;
}

/* active */

.ls-admin table.table-sorting thead .active {
	background: none repeat scroll 0 0 #EEEEEE;
	background: -moz-linear-gradient(top,	rgba(255,255,255,1) 0%, rgba(249,251,255,1) 50%, rgba(232,245,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(249,251,255,1)), color-stop(100%,rgba(232,245,255,1)));
	background: -webkit-linear-gradient(top,	rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
	background: -o-linear-gradient(top,	rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
	background: -ms-linear-gradient(top,	rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
	background: linear-gradient(to bottom,	rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
	border-bottom: 1px solid #479FFA;
}

.ls-admin table.table-sorting thead .current-way {
	display: none;
}

.ls-admin table.table-sorting thead .active .current-way {
	color: #0088CC;
	display: inline-block;
	float: right;
	font: 14px/16px Arial;
	margin-right: 10px;
}

/* on page select */

.ls-admin .OnPageSelect {
	float: right;
}

.ls-admin .OnPageSelect select {
  vertical-align: middle;
}

/* alignment */

.ls-admin table .text-left {
	text-align: left;
}

.ls-admin table .text-right {
	text-align: right;
}
