/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */

/**
 * Base
 */
.table { width: 100%; margin-bottom: 20px; }

/* Header */
.table th { 
	padding: 8px 20px 7px 10px;
	border: 1px solid #ebebeb;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	position: relative;
}
.table th .link-dotted { color: #777; border-color: #777; border: none; }
.table th.active .link-dotted { color: #333; border-color: #333; }
/*.table th i { vertical-align: middle; margin-left: 3px; position: absolute; top: 12px; right: 10px; }*/

/* temp */
.table th i {
	margin-left: 3px;
	vertical-align: middle;
}

/* Body */
.table td { padding: 15px 10px; border-top: 1px solid #ebebeb; vertical-align: top; }
.table tr:hover td { background: #ffffd7; }

/* Select */
.table .cell-check { width: 17px; padding-right: 10px; }
.table .cell-check > [class^="icheckbox"] { margin: 0; }
.table tbody .cell-check { padding-left: 11px; }
.table tbody .cell-check > [class^="icheckbox"] { margin-top: 11px; }


/**
 * Table Users
 */
.table-users { margin-bottom: 0; }

/* User */
.table-users .cell-user-wrapper { position: relative; padding-left: 50px; line-height: 1em; min-height: 40px; }
.table-users .cell-user-wrapper .cell-user-avatar { position: absolute; top: 0; left: 0; width: 40px; height: 40px; }
.table-users .cell-user-wrapper .cell-user-avatar img { width: 40px; height: 40px; }
.table-users .cell-user-wrapper .cell-user-login { font-weight: bold; position: relative; top: -2px; word-break: break-all; }
.table-users .cell-user-wrapper .cell-user-login a { line-height: 1em; }
.table-users .cell-user-wrapper .cell-user-name,
.table-users .cell-user-wrapper .cell-user-mail { padding-top: 4px; }
.table-users .cell-user-wrapper .cell-user-mail { color: #888; font-size: 11px; }

/* Birth */
.table-users .cell-birth { width: 70px; }

/* Signup */
.table-users .cell-signup { width: 160px; }

/* IP */
.table-users .cell-ip { width: 75px; }

/* Rating */
.table-users .cell-rating { width: 110px; }
.table-users .cell-rating .user-rating { font-weight: bold; color: #44B13A; float: left; }
.table-users .cell-rating .user-skill {
    clear: both;
    color: #999999;
    float: left;
    font-weight: bold;
}
.table-users .cell-rating .user-rating.user-rating-negative { color: #f30000; }

.table-users .cell-rating .dropdown-circle { float: right; position: relative; top: -1px; }