/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */

/* checking for correct ban rule */

#admin_bans_checking_msg {
	color: #008000;
	display: inline-block;
	line-height: 28px;
	vertical-align: top;
}

.ls-admin .users-stats {
	margin: 10px 0;
}

.ls-admin .users-stats .value-in-table {
	margin-bottom: 30px;
}

.ls-admin .users-stats .stat-line {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

.ls-admin .users-stats .stat-line .w50p {
	float: left;
	width: 50%;
}

.ls-admin .users-stats .stat-line .first-block {}

.ls-admin .users-stats .stat-line .second-block {
	margin-left: 10%;
	width: 30%;
}

.ls-admin .users-stats h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.ls-admin .users-stats .stat-line table {
	border: none;
}


/* pie charts for users sex stats and sex indicator */

.ls-admin .users-stats .stat-line .users-sex-pie-stats {
	float: left;
	width: 170px;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats {
	overflow: hidden;
	margin-right: 10px;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats .users-sex-indicator {
	background: none repeat scroll 0 0 #F5F1FF;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	height: 5px;
	margin-right: 5px;
	vertical-align: middle;
	width: 5px;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats .users-sex-indicator.man {
	background: none repeat scroll 0 0 #94E3E6;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats .users-sex-indicator.woman {
	background: none repeat scroll 0 0 #FACBFF;
}

#admin_graph_table_data {
	display: none;
}

/* manual date selection */

.ls-admin .period-selection {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}

.ls-admin .period-selection input {
	margin: 0;
}

.ls-admin .period-selection .remove-custom-period-selection {
	vertical-align: middle;
}

/* on page select */

.ls-admin .on-page-select {
	float: right;
}

.ls-admin .on-page-select select {
	vertical-align: middle;
	width: 60px;
}

/* inline editing in profile */

.ls-admin .profile-inline-edit-input:hover,
.ls-admin .profile-inline-edit-select:hover {
	background: none repeat scroll 0 0 #FFFFED;
}
