/**
 * LiveStreet CMS
 * Copyright © 2013 OOO "ЛС-СОФТ"
 *
 * ------------------------------------------------------
 *
 * Official site: www.livestreetcms.com
 * Contact e-mail: office@livestreetcms.com
 *
 * GNU General Public License, version 2:
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * ------------------------------------------------------
 *
 * @link http://www.livestreetcms.com
 * @copyright 2013 OOO "ЛС-СОФТ"
 * @author Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 */

/* checking for correct ban rule */

#admin_bans_checking_msg {
	color: #008000;
	display: inline-block;
	line-height: 28px;
	vertical-align: top;
}

.ls-admin .users-stats {
	margin: 10px 0;
}

.ls-admin .users-stats .value-in-table {
	margin-bottom: 30px;
}

.ls-admin .users-stats .stat-line {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

.ls-admin .users-stats .stat-line .w50p {
	float: left;
	width: 50%;
}

.ls-admin .users-stats .stat-line .first-block {}

.ls-admin .users-stats .stat-line .second-block {
	margin-left: 10%;
	width: 30%;
}

.ls-admin .users-stats h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.ls-admin .users-stats .stat-line table {
	border: none;
}

/* users age */

.ls-admin .users-stats .users-age {
	margin-bottom: 20px;
	overflow: hidden;
}

.ls-admin .users-stats .users-age .age-stats {
	clear: both;
	height: 220px;
	position: relative;
	margin-bottom: 30px;
}

.ls-admin .users-stats .users-age .age-stats .holder {}

.ls-admin .users-stats .users-age .age-stats .age-item {
	bottom: 0;
	position: absolute;
	width: 10px;
	background: none repeat scroll 0 0 #DEEFF9;
	border-radius: 3px;
	background: -moz-linear-gradient(top,  #e3dbf9 0%, #efeafb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3dbf9), color-stop(100%,#efeafb));
	background: -webkit-linear-gradient(top,  #e3dbf9 0%,#efeafb 100%);
	background: -o-linear-gradient(top,  #e3dbf9 0%,#efeafb 100%);
	background: -ms-linear-gradient(top,  #e3dbf9 0%,#efeafb 100%);
	background: linear-gradient(to bottom,  #e3dbf9 0%,#efeafb 100%);
}

.ls-admin .users-stats .users-age .age-stats .age-item:hover {
	background: none repeat scroll 0 0 #FF8352;
	background: -moz-linear-gradient(top,  #ff8352 0%, #ffc28c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8352), color-stop(100%,#ffc28c));
	background: -webkit-linear-gradient(top,  #ff8352 0%,#ffc28c 100%);
	background: -o-linear-gradient(top,  #ff8352 0%,#ffc28c 100%);
	background: -ms-linear-gradient(top,  #ff8352 0%,#ffc28c 100%);
	background: linear-gradient(to bottom,  #ff8352 0%,#ffc28c 100%);
}

.ls-admin .users-stats .users-age .age-stats .years {
	border-bottom: 1px dotted;
	bottom: -20px;
	font: 10px/12px Arial;
	position: absolute;
	cursor: help;
}

.ls-admin .users-stats .users-age .age-stats .years.second {
	color: #bbb;
}

/* countries stats */

.ls-admin .countries-n-cities {}

.ls-admin .countries-n-cities .items {
	border: none;
}

.ls-admin .countries-n-cities .items .item {
	width: 150px;
}

.ls-admin .countries-n-cities .items .count,
.ls-admin .countries-n-cities .items .percentage {
	text-align: right;
	width: 80px;
}

.ls-admin .countries-n-cities .items .percentage {
	color: #999;
}

.ls-admin .countries-n-cities .items .diagram {
	vertical-align: middle;
}

.ls-admin .countries-n-cities .items .diagram .view-item-wrapper {
	border: 1px solid #f1f1f1;
	width: 100%;
}

.ls-admin .countries-n-cities .items .diagram .view-item {
	background: #cfedad;
	height: 15px;
	margin: -1px;
}

/* pie charts for users sex stats and sex indicator */

.ls-admin .users-stats .stat-line .users-sex-pie-stats {
	float: left;
	width: 170px;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats {
	overflow: hidden;
	margin-right: 10px;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats .users-sex-indicator {
	background: none repeat scroll 0 0 #F5F1FF;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	height: 5px;
	margin-right: 5px;
	vertical-align: middle;
	width: 5px;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats .users-sex-indicator.man {
	background: none repeat scroll 0 0 #94E3E6;
}

.ls-admin .users-stats .stat-line .users-sex-table-stats .users-sex-indicator.woman {
	background: none repeat scroll 0 0 #FACBFF;
}

#admin_users_graph_table_stats_data {
	display: none;
	margin-top: 5px;
}

#admin_users_show_graph_stats_in_table {
	border-bottom: 1px dotted;
}

/* manual date selection */

.ls-admin .period-selection {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}

.ls-admin .period-selection input {
	margin: 0;
}

.ls-admin .period-selection .remove-custom-period-selection {
	vertical-align: middle;
}
