<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Admin panel</lang>
	</name>
	<author>
		<lang name="default">LiveStreet Developers Team</lang>
	</author>
	<homepage>http://livestreet.ru</homepage>
	<settings>{admin}</settings>
	<version>1.0.2</version>
	<requires>
		<livestreet>2.0.*</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="ru">Панель управления для LiveStreet CMS</lang>
		<lang name="default">Admin panel for LiveStreet CMS</lang>
	</description>
</plugin>
