/**
 * Stats
 */
.p-dashboard-actionbar-stats {
    display: flex;
}
.p-dashboard-actionbar-stats-item {
    flex: 1;
    min-width: 100px;
    padding: 5px 20px 0;
    border-left: 1px solid #eaeaea;
    text-align: center;
}
.p-dashboard-actionbar-stats-item:first-child {
    border: none;
    padding-left: 0;
}
.p-dashboard-actionbar-stats-item-title {
    font-weight: 300;
    font-size: 31px;
    line-height: 1em;
    margin-bottom: 3px;
    color: #333;
}
.p-dashboard-actionbar-stats-item-text {
    font-size: 11px;
    font-family: 'Open Sans';
    color: #a2a2a2;
}
.p-dashboard-actionbar-stats-item-change {
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: help;
}

@media (max-width:999px) {
    .p-dashboard-actionbar-stats {
        display: block;
    }
    .p-dashboard-actionbar-stats-item {
        border-left: none;
        border-top: 1px solid #eee;
        text-align: left;
        padding: 10px;
    }
    .p-dashboard-actionbar-stats-item:first-child {
        padding-left: 10px;
    }
    .p-dashboard-actionbar-stats-item-title {
        font-size: 18px;
        display: inline;
    }
    .p-dashboard-actionbar-stats-item-text {
        font-size: 13px;
        display: inline;
    }
}