/**
 * Activity
 */

.p-dashboard-activity .activity-event-list {
    margin: 0;
}
.p-dashboard-activity .activity-event + .activity-date {
    margin-top: 0;
}
.p-dashboard-activity .activity-date {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: none;
}
.p-dashboard-activity .activity-date:first-child {
    margin-top: 0;
}

.p-dashboard-activity .activity-event {
    min-height: 30px;
    border-top: 1px solid #f2f2f2;
    padding: 15px 0 15px 0;
    position: relative;
    font-size: 11px;
    font-family: Verdana;
}
.p-dashboard-activity .activity-event:first-child {
    border: none;
}
.p-dashboard-activity .activity-event-avatar {
    position: absolute;
    top: 15px;
    left: 0;
    width: 30px;
    height: 30px;
}
.p-dashboard-activity .activity-event-date {
    color: #999;
    display: inline;
}
.p-dashboard-activity .activity-event-info {
    line-height: 1em;
    margin-bottom: 4px;
}
.p-dashboard-activity .activity-event-username {
    font-weight: bold;
    color: #6d82a0;
    text-decoration: underline;
}
.p-dashboard-activity .activity-event-username:hover {
    color: #f00;
}

.p-dashboard-activity .activity-event-text {
    padding: 5px 10px;
    background: #f7f4ec;
    margin-top: 10px;
    font-size: 11px;
    position: relative;
}
.p-dashboard-activity .activity-event-text.text {
    font-size: 11px;
}
.p-dashboard-activity .activity-event-text:before {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #f7f4ec;
    position: absolute;
    top: -12px;
    left: 5px;
}
.p-dashboard-activity .activity-event-text:after {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid #fff;
    position: absolute;
    top: -12px;
    left: -1px;
}