.p-notifications {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}
.p-notifications-item {
    box-sizing: border-box;
    margin-bottom: 30px;
    flex: 0 0 33.333%;
    display: flex;
    align-items: flex-start;
}
.p-notifications-item:not(:nth-child(3n)) {
    padding-right: 15px;
}
.p-notifications-item-body {
    flex: 1;
}
.p-notifications-item-image {
    position: relative;
    flex: 0 0 50px;
    display: block;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}
.p-notifications-item-image-icon {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #aaa;
}
.p-notifications-item-count {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 0 6px;
    font-size: 11px;
    color: #fff;
    background: #555;
    border-radius: 10px;
    line-height: 20px;
}
.p-notifications-item-title {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.3em;
    padding-top: 1px;
    margin-bottom: 7px;
}
.p-notifications-item-text {
    color: #777;
}

/**
 * Active
 */
.p-notifications-item.active .p-notifications-item-image-icon {
    color: #EAD33E;
}
.p-notifications-item.active .p-notifications-item-text {
    color: #D0BD47;
}
.p-notifications-item.active .p-notifications-item-title a {
    color: #A09022;
}

/**
 * Responsive styles
 */
@media (max-width:800px) {
    .p-notifications {
        display: block;
        margin-bottom: 40px;
    }
    .p-notifications-item {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        padding: 0;
    }
}