/**
 * Blocks
 */

/**
 * Base
 */
.block                 { background: #fcfcfc; margin-bottom: 30px; }
.block:last-child      { margin-bottom: 0; }

.block .text           { font-size: 13px; line-height: 18px; }
.block .max-height-200 { overflow: auto; max-height: 200px; position: relative; }

.block .search-form    { padding: 0; margin-bottom: 20px; }

/* Header */
.block-header              { padding: 13px 15px; border-top: 1px solid #eee; position: relative; }
.block-header .block-title { font-size: 16px; line-height: 1em; font-weight: normal; }

/* Nav */
.block-nav      { padding: 15px; border-bottom: 1px solid #eee; }
.block-nav .nav,
.block-nav .dropdown { margin-bottom: 0; }

/* Content */
.block-content { padding: 15px; }

/* Footer */
.block-footer { border-top: 1px solid #eee; padding: 15px 20px; font-size: 12px; }


/**
 * @type nav
 * @file blocks/block.nav.tpl
 */
.block-type-nav { background: transparent; }
.block-type-nav .block-content { padding: 0; }

.m-nav-toggle { padding: 15px; background: #fafafa; font: 400 16px/1em 'Open Sans', Arial; color: #6c6c6c; }
.m-nav-toggle i { vertical-align: baseline; }
.m-nav-toggle.dropdown-toggle.open { background-color: #fff; box-shadow: none; }
.m-nav-toggle.dropdown-toggle:after { border-top-color: #aaa; }

@media (max-width: 999px)  {
    .nav-main-item-fold { display: none; }
    .nav-main { display: none; margin-top: 10px; }
    .nav-main.open { display: block; }
}


/**
 * Block Home
 */
.block-home { border: 1px solid #f2f2f2; }

.block-home .block-header { border: none; background: #f9f9f9; padding: 13px 13px; }
.block-home .block-header .button { position: absolute; top: 7px; right: 7px; }
.block-home .block-title { font-size: 18px; }

.block-home .block-content { background: #fff; }

.block-home .block-footer { padding: 0 10px 10px; background: #fff; border: none; }


/**
 * Home Stats
 *
 * @file blocks/block.home.stats.tpl
 */
.block-type-home-stats .block-header { overflow: hidden; }
.block-type-home-stats .block-header select { position: absolute; top: 7px; right: 7px; }

.block-type-home-stats .block-content { padding: 0 10px; }

.table.table-stats { margin-bottom: 0; }
.table.table-stats td { padding: 13px 13px 13px 3px; font-family: Verdana; vertical-align: middle; }
.table.table-stats tr:hover td { background-color: transparent; }
.table.table-stats tr:first-child td { border: none; }

.block-type-home-stats .name { width: 140px; vertical-align: middle; }
.block-type-home-stats .growth { vertical-align: middle; }
.block-type-home-stats .graph-line { width: 150px; }
.block-type-home-stats .graph-line .ratings-graph { height: 3px; clear: both; }
.block-type-home-stats .graph-line .ratings-graph > * { height: 100%; float: left; position: relative; }
.block-type-home-stats .graph-line .ratings-graph .positive { background: #17A553; color: #17A553; }
.block-type-home-stats .graph-line .ratings-graph .negative { background: #ff1313; color: #FF1313; }
.block-type-home-stats .graph-line .ratings-graph .neutral { background: #c9c9c9; color: #C9C9C9; }
.block-type-home-stats .graph-line .ratings-graph .inner-value { font-size: 10px; position: absolute; top: -16px; }
.block-type-home-stats .graph-line .ratings-graph *:nth-child(1) .inner-value { left: 0; }
.block-type-home-stats .graph-line .ratings-graph *:nth-child(2) .inner-value { left: 43%; }
.block-type-home-stats .graph-line .ratings-graph *:nth-child(3) .inner-value { right: 0; }

/* stats line table */
.table.stats-line-table { margin: 0; }
.table.stats-line-table td { padding: 0 !important; }
.table.stats-line-table .info-tip { width: 25px; }
.table.stats-line-table .line-block { vertical-align: middle; }


/**
 * Gender stats
 *
 * @file blocks/block.home.users.genders.tpl
 */
.block-type-home-users-genders .highcharts-container { margin: 0 auto 20px; }

.table.chart-pie-legend { margin: 0; font-family: Verdana; }
.table.chart-pie-legend td { border-top: none; padding-top: 5px; padding-bottom: 5px; vertical-align: middle; }
.table.chart-pie-legend .cell-color { width: 5px; padding-right: 0; }
.table.chart-pie-legend tr:hover td { background-color: transparent; }

.chart-pie-legend-color { display: inline-block; border-radius: 50%; width: 7px; height: 7px; position: relative; top: -2px; }
.chart-pie-legend-color-grey { background: none repeat scroll 0 0 #C5C5C5; }
.chart-pie-legend-color-blue { background: #94e3f6; }
.chart-pie-legend-color-purple { background: #f4a6fc; }