/**
 * Сетка
 *
 * @template layout.base.tpl
 */

#container {
	margin: 0 auto 20px;
	max-width: 1100px;
	/*min-width: 976px;*/
	padding: 0 50px;
}
#header          { padding: 20px 255px 0 16px; position: relative; }
#nav             { margin-bottom: 15px; overflow: hidden; }
#wrapper         { margin-bottom: 70px; }
#content-wrapper { float: left; width: 100%; margin-right: -255px; }
#content {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-right: 255px;
	min-height: 250px;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0 66px 40px -44px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 66px 40px -44px rgba(0, 0, 0, 0.1);
			box-shadow: 0 66px 40px -44px rgba(0, 0, 0, 0.1);
}
#sidebar         { float: right; width: 250px; position: relative; z-index: 1; }
#footer          { overflow: hidden; zoom: 1; margin-right: 255px; margin-bottom: 20px; padding: 65px 15px 50px 16px; }

#container.no-sidebar #content { width: 100%; margin-right: 0; }

.content-padding { overflow: hidden; padding: 15px; }

/* Responsive */
@media (max-width: 999px)  {
	#container       { padding: 0 10px; }
	#header          { padding: 15px 0 10px 0; }
	#sidebar         { width: 100%; float: static; margin-bottom: 10px; }
	#content-wrapper,
	#content         { 
		margin-right: 0;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	#footer { padding: 15px; margin: 0; }
}