/**
 * Сетка
 */
#container {
	margin: 0 auto 20px;
	max-width: 1100px;
	padding: 0 50px;
}
#header {
	padding: 20px 255px 0 16px;
	position: relative;
}
#nav {
	margin-bottom: 15px;
	overflow: hidden;
}
#wrapper {
	display: flex;
    align-items: flex-start;
}
#content {
	flex: 1;
	margin-right: 5px;
	background: #fff;
	position: relative;
	box-shadow: 0 66px 40px -44px rgba(0, 0, 0, 0.1);
}
#content:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 2.5%;
	width: 95%;
	height: 10px;
	-webkit-box-shadow: 0 0 45px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 45px rgba(0,0,0,.3);
	box-shadow: 0 0 45px rgba(0,0,0,.3);
	z-index: -5;
	background: #000;
}
.p-menu {
	flex-basis: 250px;
	position: relative;
	z-index: 1;
}
.p-menu.folded {
	flex-basis: 42px;
}
#footer {
	overflow: hidden;
	margin-right: 255px;
	margin-bottom: 20px;
	padding: 65px 15px 50px 16px;
}
#footer ul {
	float: left;
	width: 33%;
}
#footer ul li {
	margin-bottom: 5px;
}
#footer ul.footer-right {
	float: right;
	text-align: right;
}

.content-padding {
	padding: 15px;
}

/* Responsive */
@media (max-width: 999px) {
	#header {
		padding: 20px 20px 0 16px;
		position: relative;
	}
	#container {
		padding: 0 5px;
	}
	#wrapper {
		flex-direction: column;
	}
	#content {
		order: 2;
		width: 100%;
		margin-right: 0;
	}
	.p-menu {
		flex-basis: auto;
		order: 1;
		width: 100%;
		margin-bottom: 5px;
	}
	#footer ul, #footer ul.footer-right {
		float: none;
		width: auto;
		text-align: left;
		margin-bottom: 20px;
	}
}