.p-actionbar {
    background: #f8f8f8;
    padding: 15px;
}
.p-actionbar input,
.p-actionbar select,
.p-actionbar button {
    margin-right: 10px;
}

.p-actionbar .ls-button-group {
    vertical-align: top;
}