/**
 * Пагинация 
 *
 * @template pagination.tpl
 */

.ls-pagination {
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font: 16px/1em "Open Sans", sans-serif;
    text-align: center;
}
.ls-pagination,
.ls-pagination a {
    color: #777;
}

/* Clearfix */
.ls-pagination-list:before,
.ls-pagination-list:after {
    content: "";
    display: table;
    line-height: 0;
}
.ls-pagination-list:after {
    clear: both;
}

/* List */
.ls-pagination-list {
    vertical-align: top;
    display: inline-block;
}

/* Item */
.ls-pagination-item {
    float: left;
}
.ls-pagination-item span, .ls-pagination-item a {
    float: left;
    padding: 13px 16px;
    border: 1px solid transparent;
}
.ls-pagination-item a:hover {
    background: #fafafa;
}
.ls-pagination-item.active span {
    border-color: #8fcefb;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* Prev/Next */
.ls-pagination-prev {
    border-right: 1px solid #ebebeb;
    float: left;
}
.ls-pagination-next {
    border-left: 1px solid #ebebeb;
    float: right;
}

/* Icon */
.ls-pagination-prev .ls-pagination-item-inner:before,
.ls-pagination-next .ls-pagination-item-inner:before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    opacity: .4;
    vertical-align: top;
    position: relative;
    top: 1px;
}
.ls-pagination-item a.ls-pagination-item-inner:before {
    opacity: 1;
}
.ls-pagination-prev .ls-pagination-item-inner:before {
    background-image: url(../images/pagination-prev.png);
}
.ls-pagination-next .ls-pagination-item-inner:before {
    background-image: url(../images/pagination-next.png);
}

/* Responsive */
@media (max-width: 999px)  {
    .ls-pagination-prev,
    .ls-pagination-next {
        display: none;
    }
}

.pagination-eop {
    background: #fafafa;
    padding: 10px;
    line-height: 28px;
    border-top: 1px solid #eee;
}