.ls-field--checkbox .ls-field-note,
.ls-field--checkbox .ls-field-label {
    padding-left: 28px;
}
.ls-field.parsley-error .ls-field-input {
    border-color: #F79F98;
    background-color: #FFDFDD;
    box-shadow: 0 0 3px #FABFBB;
}

select,
input[type="password"],
input[type="text"] {
}

/**
 * Inputs
 */
textarea,
select,
input[type="number"],
input[type="password"],
input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
textarea:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4d90fe;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4d90fe;
            box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4d90fe;
    outline: none;
}

select,
input[type="number"],
input[type="password"],
input[type="text"] {
    height: 31px;
    line-height: 18px;
}