.ls-field--checkbox .ls-field-note,
.ls-field--checkbox .ls-field-label {
    padding-left: 28px;
}
.ls-field.parsley-error .ls-field-input {
    border-color: #F79F98;
    background-color: #FFDFDD;
    box-shadow: 0 0 3px #FABFBB;
}

select,
input[type="password"],
input[type="text"] {
    height: 31px;
    line-height: 18px;
}