/**
 * Пагинация 
 *
 * @template pagination.tpl
 */

.pagination ul 					{ overflow: hidden; zoom: 1; line-height: 1em; }
.pagination ul li 				{ float: left; margin-right: 5px; }
.pagination ul li span,
.pagination ul li a 			{ float: left; padding: 7px 10px; background: #eee; color: #333; }
.pagination ul li a:hover 		{ background: #ddd; }
.pagination ul li.active span 	{ color: #bbb; background: #fafafa; }
.pagination ul li i 			{ opacity: .5; filter: alpha(opacity=50); }