
/* users */

.ls-admin table.table-users thead {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EEEEEE;
}

.ls-admin table.table-users thead th {
    text-align: left;
}

.ls-admin table.table-users {
    border: medium none;
}

.ls-admin table.table-users tbody tr.second {
    background: none repeat scroll 0 0 transparent;
}
.ls-admin table.table-users tbody tr {
    border-bottom: 1px solid #EEEEEE;
}

/* user listing */

.ls-admin table.table-users tbody .checked {
    width: 30px;
}

.ls-admin table.table-users tbody .avatar {
    width: 50px;
}

.ls-admin table.table-users tbody .avatar a,
.ls-admin table.table-users tbody .avatar a img {
    display: block;
}

.ls-admin table.table-users tbody .user-is-online {
    background: none repeat scroll 0 0 #3CD33B;
    height: 2px;
    margin-top: 2px;
}

.ls-admin table.table-users tbody .name .username a {
    border-bottom: 1px solid;
}

.ls-admin table.table-users tbody .name .mail {
    color: #999999;
    font-size: 11px;
}

.ls-admin table.table-users tbody .birth {
    font-size: 11px;
    width: 75px;
}

.ls-admin table.table-users tbody .visitandreg {
    font-size: 11px;
    width: 100px;
}

.ls-admin table.table-users tbody .visitandreg span {
    color: #999999;
}

.ls-admin table.table-users tbody .ips {
    color: #999999;
    width: 100px;
}

.ls-admin table.table-users tbody .ratings {
    font-weight: bold;
    width: 110px;
}

.ls-admin table.table-users tbody .ratings .rating {
    color: green;
}

.ls-admin table.table-users tbody .ratings .skill {
    color: #999999;
}

.ls-admin table.table-users tbody .controls {
    width: 22px;
}

/* active */

.ls-admin table.table-users thead .active {
    background: none repeat scroll 0 0 #EEEEEE;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,251,255,1) 50%, rgba(232,245,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(249,251,255,1)), color-stop(100%,rgba(232,245,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,251,255,1) 50%,rgba(232,245,255,1) 100%);
    border-bottom: 1px solid #479FFA;
}

.ls-admin table.table-users thead .current-way {
    display: none;
}

.ls-admin table.table-users thead .active .current-way {
    color: #0088CC;
    display: inline-block;
    float: right;
    font: 14px/16px Arial;
    margin-right: 10px;
}

/* user search */

.ls-admin .UserSearch {
    background: none repeat scroll 0 0 #F9F9F9;
    margin: 0 -15px 5px;
    padding: 20px;
}

.ls-admin .UserSearch select {
    vertical-align: top;
}

.ls-admin .OnPageSelect {
    float: right;
}
