.p-settings-fieldset {
    margin-bottom: 50px;
}
.p-settings-fieldset-desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5em;
    color: #aaa;
}

/* Array */
.form-field-settings-array-values {
    background: #F7F7F7;
    padding: 5px;
    margin: 0 0 15px;
    overflow: hidden;
}
.form-field-settings-array-value {
    padding: 5px;
}
.form-field-settings-array-value input {
}
.form-field-settings-array-remove {
    margin-left: 5px;
}